# Ignoring Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignoring virtual environment directories
venv/
env/

# Ignoring Docker-related files
Dockerfile
.dockerignore

# Ignoring other unnecessary files
*.log
*.tmp
*.bak
*.swp
*.DS_Store
*.egg-info/
dist/
build/